<launch>
    <node pkg="sensor_fusion" name="velocity_node" type="velocity.py" output="screen" />
    <node pkg="sensor_fusion" name="odometry_publisher" type="sensor_fusion_node" output="screen" />

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
        <param name="frequency" value="60"/>
        <param name="magnetic_declination_radians" value="0"/>
        <param name="broadcast_utm_transform" value="true"/>
        <param name="wait_for_datum" value="true"/>
        <param name="use_odometry_yaw" value="true"/>
        <rosparam param="datum">[21.30996, -157.8901]</rosparam>
        <param name="yaw_offset" value="0"/>
        <param name="publish_filtered_gps" value="true"/>
  </node>

</launch>
