<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" >    
        <param name="delta" value="0.5"/>
    </node>
    <!-- node name="octomap" pkg="octomap_server" type="octomap_server_node" output="screen">
		<remap from="cloud_in" to="/lidar_wamv/points"/>
		<param name="sensor_model/max_range" value="5"/>
		<param name="pointcloud_min_y" value="-5.0"/>
		<param name="pointcloud_max_y" value="5.0"/>
		<param name="frame_id" value="map"/>
		<! <param name="resolution" value="0.1" />
		<param name="height_map" value="false" /> -->
	

    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan_manager" output="screen" respawn="true" args="manager"/>

    <!-- push pointcloud_to_laserscan nodelet into the dummny manager above-->
    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan_worker" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet pointcloud_to_laserscan_manager">
        <remap from="cloud_in" to="/lidar_wamv/points"/>
        <rosparam>
            target_frame: lidar_wamv_link 
            transform_tolerance: 0.01
            min_height: -5.0
            max_height: 2.0

            angle_min: -3.14 # -M_PI
            angle_max: 3.14 # M_PI
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.1
            range_min: 0.9
            range_max: 130
            use_inf: false

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>
   </node>

</launch>